html {
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}

html {
  padding: 20px;
  border: 2px;
  background-image: url("../money1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}